.tube .bubbles div{
    position: absolute;
    left: 30%;
    border-radius: 50% 50% 0 50%;
    background: var(--tube-color);
    width: 10px;
    height: 10px;
    opacity: 0.8;
    bottom: calc(var(--tube-percentage) / 3);
    animation: bubble 3s infinite linear;
    transform: scale(0.3) rotate(50deg);
    transition: 1s;
  }
  
  .tube .bubbles div:nth-child(2) {
    left: 40%;
    opacity: 0.7;
    animation-delay: 100ms;
    animation-duration: 2.5s;
  }
  
  .tube .bubbles div:nth-child(3) {
    left: 40%;
    opacity: 0.6;
    animation-delay: 200ms;
  }
  
  .tube .bubbles div:nth-child(4) {
    left: 60%;
    animation-delay: 250ms;
    animation-duration: 1.75s;
  }
  
  .tube .bubbles div:nth-child(5) {
    left: 50%;
    opacity: 0.8;
    animation-delay: 150ms;
    animation-duration: 2.25s;
  }
  
  .tube .meter {
    position: absolute;
    height: 80%;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  
  .tube .meter::after,
  .tube .meter::before {
    content: var(--tube-title);
    position: inherit;
    left: 100%;
    margin-left: 10px;
    bottom: var(--tube-percentage);
    transform: translateY(50%);
    background: var(--tube-color);
    color: #1D1D19;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    transition: 1s;
  }
  
  .tube .meter::after {
    content: '';
    border: 12px solid transparent;
    border-right-color: var(--tube-color);
    padding: 0;
    border-radius: 0;
    background: transparent;
    transform: translate(-78%, 50%);
  }
  
  .tube .meter div {
    position: absolute;
    left: -4px;
    top: 0;
    font-size: 12px;
    padding: 6px 2px 6px 4px;
    color: #65665f;
    border-top: 1px solid #65665f;
    transform: translateX(-100%);
  }
  
  .tube .meter div:nth-child(2) {
    top: 20%;
  }
  
  .tube .meter div:nth-child(3) {
    top: 40%;
  }
  
  .tube .meter div:nth-child(4) {
    top: 60%;
  }
  
  .tube .meter div:nth-child(5) {
    top: 80%;
  }
  
  .tube .meter div:nth-child(6) {
    top: 100%;
  }